body {
   padding: 20px;
   font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
   background-color: #1e5799;
   background-attachment: fixed;
}

.container {
   width: 100%;
   max-width: 960px;
   margin: 0px auto;
   padding: 20px;
   box-sizing: border-box;
   background-color: white;
}

header {
   padding: 20px;
   background-color: #f6f6f6;
   margin-bottom: 40px;
}

header p {
   font-style: oblique;
}

h1 {
   font-size: 4em;
   font-family: "Raleway", Arial, Helvetica, Tahoma, Verdana, sans-serif;
   font-weight: normal;
}

blockquote {
   margin-bottom:40px;
}

blockquote cite {
   padding-left:20px;
   font-size: 1.3em;
   color: #333;
}

blockquote p {
   border: 5px solid #0066aa;
   border-radius: 12px;
   padding: 25px 15px;
   position: relative;
   background-color: #fff;
   margin-bottom: 30px;
}

/** Add the bottom triangle for the quote bubble using CSS **/
blockquote p:before, blockquote p:after {
   position: absolute;
   display: block;
   border-style: solid;
   content: "";
   height: 0;
   width :0;
   box-sizing: border-box;
}

blockquote p:before {
   left: 20px;
   bottom: -30px;
   border-color: transparent #0066aa transparent transparent;
   border-width: 0 30px 30px 0
}

blockquote p:after {
   left: 29px;
   bottom: -15px;
   border-color: transparent #fff transparent transparent;
   border-width: 0 15px 15px 0;
}